
.list {list-style: none;}
.link {text-decoration: none;}
h1,
 h2,
  h3,
   h4,
    p {
margin: 0;}

ul,
ol {margin: 0;
padding-left: 0;}
 
img {display: block;}

button {padding: 0;}

body {font-family: 'open-sans', sans-serif;
font-weight: 400;
color: #303030;}

.container {
    min-width: 1200px;
   
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid red;

}

.flex {display: flex;
    justify-content: center;
align-items: center;
}

/*---------------HEADER MENU------------------*/

.menu-item .menu-link {
    font-family: 'open-sans', sans-serif;
    font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
padding-top: 10px;
padding-bottom: 10px;
color:#FFFFFF;
background-color: aquamarine;}

.menu-item .menu-link:hover,
.menu-item .menu-link:focus {color: #FF6C00;}

.header {background-color: #9DA4BD;
border: 2px solid gold;
}



.header-navigation {display: flex;
align-items: center;}

.menu-list {display: flex;
gap: 30px;
margin-left: 100px;}

.menu-elements {
   
    align-items: center;
    margin-left: 254px;
margin-right: 17px;

   
}


.contact {font-family: 'open-sans', sans-serif;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
margin-right: 43px;
color:#FFFFFF;
background-color: aquamarine;
}



.contact:hover,
.contact:focus {color: #FF6C00;}

.buttons {font-family: inherit;
    font-weight: 600;
font-size: 12px;
line-height: 1.33;
padding: 12px 20px;

letter-spacing: 0.09em;
text-transform: uppercase;

color:#FFFFFF;
cursor:pointer ;

padding: ;
border: 1px solid #FF6C00;
border-radius: 25px;}

.buttons:hover,
.buttons:focus {background-color: #FF6C00;}




/*---------------HERO SECTION--------------*/
.hero-section {
  
border: 1px solid blue;
}

.hero-container { flex-grow: 1;
    padding-top: 272px;
    padding-left: 100px;
    padding-bottom: 208px;
    padding-right: 100px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-img.jpg);

background-repeat: no-repeat;
background-position: center;
background-size: cover;}


  .social-item .social-link { font-family: 'open-sans', sans-serif;
    font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;
color: inherit;
 } 

 .social-item .social-link:hover,
 .social-item .social-link:focus {color: #FF6C00;}


.hero-pre-title {
    font-weight: 600;
font-size: 11px;
line-height: 1.36;
margin-bottom: 20px;
color:rgba(157, 164, 189, 0.6);
text-transform: uppercase;}

.hero-list {width: 100px;}

.hero {font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 72px;
line-height: 1.18;
letter-spacing: 0.05em;
margin-bottom: 20px;
color: #FFFFFF;
}

.hero-subtitle {
    
    font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
width: 360px;
color:#9DA4BD;
}

/*----------- ABOUT SECTION----------*/


.about-section {
    padding-top: 120px;
padding-bottom: 120px;}

.about-list {display: flex;
gap: 30px;}

.about-container {margin-left: 30px;}
.about-pre-title { 
    font-weight: 600;
font-size: 11px;
line-height: 1.36;
margin-bottom: 20px;
text-transform: uppercase;
}


.about-heading {font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 42px;
padding-bottom: 20px;
line-height: 1.16;
letter-spacing: 0.05em;}

.about-subtitle {font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
padding-bottom: 20px;
color:#555555 ;
}

.second-subtitle {
 color:#555555;
font-size: 14px;
padding-bottom: 42px;
line-height: 1.85;
letter-spacing: 0.02em;
}


.subtitle {font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color:#555555 ;
}


/*---------- PRICES SECTION-------*/

.prices-section {

outline: 1px solid blue;
background-image: url(../img/hero-min.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-color: #111319;
}

.prices-pre-title {
    font-weight: 600;
font-size: 11px;
line-height: 1.36;
margin-bottom: 20px;
color:rgba(157, 164, 189, 0.6);

text-transform: uppercase;}

.prices-heading {font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 42px;
padding-bottom: 44px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #FFFFFF;
}

.prices-list { 
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
letter-spacing: 0.02em;
}

.prices-item{
color: #9DA4BD;}



.price-container {display:inline-block;
    
    margin-right: 30px;
    background-image: linear-gradient(rgb(23, 26, 36), rgba(23, 26, 36, 0.2));
}

.second-container { 
    display:inline-block;
    min-width: 204px;
   
    background-image: linear-gradient(rgb(9, 11, 19), rgba(9, 11, 19, 0.2));
}

.price-element {display: flex;
    min-width: 204px;
    margin-bottom: 20px;
gap: 50px;}


.service-button {display: block;
margin: 0 auto;}
/*--------TRADITION SECTION-------*/

.tradition-section {padding-top: 120px;
padding-bottom: 120px;}

.tradition-first-container {margin-right: 130px;}


   
    



.numbers {
    font-weight: 700;
font-size: 42px;
margin-bottom: 6px;
line-height: 1.36;}

.subtittle {font-weight: 600;
    font-size: 11px;
line-height: 1.36;
 }

 .items {padding:20px 24px;
    background-color: #F7F7F7;
    text-align: center;
width: 170px;
height: 133px;}

.tradition-pre-title {font-weight: 600;
font-size: 11px;
line-height: 1.36;
margin-bottom: 20px;
text-transform: uppercase;}


.tradition-heading  {font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 42px;
padding-bottom: 20px;
line-height: 1.16;
letter-spacing: 0.05em;
}

.tradition-subtitle {font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color:#555555 ;
}

/*-------BARBER SECTION-------*/

.barber-section {padding-top:120px ;
padding-bottom: 120px;
background-color: #F7F7F7;}

.barber-list {gap: 30px;
text-align: center;
}
.barber-social-list {display: flex;
justify-content: center;
}

.barber-social-item {display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
   
    background-color: #FFFFFF;
    border-radius: 50%;;
    
}

.barber-social-icon {
    width: 20px;
    height: 20px;
    fill:#303030;
}
.barber-social-icon:hover,
.barber-social-icon:focus {
    fill: #FF6C00;
}

.barber-pre-title {font-weight: 600;
font-size: 11px;
line-height: 1.36;
margin-bottom: 20px;
text-transform: uppercase;}


.barber-heading {font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 42px;
padding-bottom: 44px;
line-height: 1.16;
letter-spacing: 0.05em;}

.barber-title { font-weight: 400;
    font-size: 18px;
    line-height: 1.38;
letter-spacing: 0.02em;}


.barber-subtitle {font-size: 14px;
        line-height: 1.36;
        letter-spacing: 0.02em;
        color: #FF6C00;

}

/*---------BARBER GALERY SECTION------*/

.gallery-section {padding-top:120px ;
padding-bottom: 120px;}


.gallery-pre-title {font-weight: 600;
font-size: 11px;
line-height: 1.36;
margin-bottom: 20px;
text-transform: uppercase;}

.gallery-list {display: flex;
gap: 30px;}


/*----------- ADDRES SECTIONS-------------*/



.booking-heading, .contact-heading {font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 42px;
margin-bottom: 40px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #FFFFFF;
background-color: #191C26;
}

.booking-btn {font-family: inherit;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.09em;
padding:12px 62px;
border: 1px solid #FF6C00;
border-radius: 25px ;
text-transform: uppercase;
color: #FFFFFF;
background-color: #9b9fad;
}

.booking-btn:hover,
.booking-btn:focus {background-color: #FF6C00;}

.address {font-family: 'open-sans', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.66;
margin-bottom: 20px;
letter-spacing: 0.02em;
 color: #9DA4BD;}

.addres-item {margin-bottom: 20px;}



.ghghghgh::before {

}

 .addres-list {margin-bottom: 70px;}

 .phone-number, .mail-address {font-size: 18px;
    letter-spacing: 0.02em;
  color: #9DA4BD;
}

.working-pre-title {
 font-weight: 600;
font-size: 11px;
line-height: 1.36;
margin-bottom: 20px;
text-transform: uppercase;
color: #FFFFFF;
background-color: #9DA4BD;}


.working-subtitle {font-size: 18px;
line-height: 1.66;
letter-spacing: 2%;
    color: #9DA4BD;}

        .addres-container {display: flex;    
    }

    .booking-section {display: inline-block; 
        padding-top: 130px;
        padding-left: 215px;
        padding-bottom: 120px;

        background-color:#191C26;
        flex-basis: calc(100%/2);
 }
    .contact-section {display: inline-block; padding-top: 130px;
        justify-content: center;
        padding-top: 130px;
        padding-left: 100px;
        padding-bottom: 120px;
         flex-basis: calc(100%/2);
        background-image: url(../img/bg.png);
        background-position: center;
       
       
        background-color:#191C26
      }